<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="app">
        <div class="container"></div>
        <h2>lista to do</h2>
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="mb-3">
                <!-- input      -->
                    <label for="new-todo" class="form-label">cose da fare</label>
                    <input type="text" class="form-control" id="new-todo" v-model.trim="newTodo">
                </div>

                <button class="btn btn-primary" @click="addTodo">aggiungi</button>
                <small v-show="errorVisible" class="text-danger">Il todo non può essere vuoto</small>

                <hr>

                <!-- output -->
                <ul class="list-group" v-if="task.length > 0">
                    <li class="list-group-item" v-for="(todo, index) in task" :key="index" @click="toggleDone(index)" class="list-group-item d-flex justify-content-between">
                        <span :class="{'text-decoration-line-through': todo.done}">{{ todo.text }}</span>
                        <button class="btn btn-danger" @click.stop="deleteTodo(index)"> &cross;</button>
                    </li>
                </ul>
                <div class="alert alert-success" v-else>Non hai nulla nella lista dei todo! Sei libero! </div>
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>